html {
    height: 50%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 30px;
}

.orange {
    color: orangered;
}

.sylhet {
    color: aliceblue;
    text-align: center;
    margin-top: 0;
    outline: 2px solid black;
    background-size: 100%;
    padding: 8em;
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;

}

.link1 {
    color: aliceblue;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
}

.donation {
    text-align: center;
    margin-top: 10%;
    font-size: 15px;
}

.taka {
    height: 100px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;

}

.plan {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

.food {
    display: flex;
    flex-direction: row;
}

.flexible {
    display: flex;
    height: 300px;
    width: 300px;
    margin: 20px;

    padding: 50px;
    width: 90%;
}

.OrangeColor {

    color: orange;

}

.last {
    padding-right: 60%;
}

footer {
    min-height: 50%;
    margin: 0;
    padding-top: 10%;
    background-color: black;
    color: azure;
    height 400px;
}

.end {
    margin-bottom: 50px;
    background-color: blanchedalmond;
}